<div class="container">
    <div class="pt-5">
        <button type="button" mat-raised-button  color="primary" routerLink="../completed" ><b>Completed</b></button>
        <button type="button" mat-raised-button  color="primary" routerLink="../pending" ><b>Pending</b></button>
        <button type="button" mat-raised-button  color="warn" routerLink="../cancelled" ><b>Cancelled</b></button>
        <button type="button" mat-raised-button  color="primary" routerLink="../unassigned" ><b>Unassigned</b></button>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h3>ALL ORDERS</h3>      
              </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Contact</th>
                <th scope="col">Location Pin</th>
                <th scope="col">Washer Name</th>
                <th scope="col">Washpack No</th>
                <th scope="col">Status</th>
                <th scope="col">Car Name</th>
                <th scope="col">Controls</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of OrderList; let i=index;">
                <td>{{i+1}}</td>
                <td>{{ order.useremailid }}</td> 
                <td>{{ order.phoneNo }}</td>
                <td>{{ order.areapincode }}</td>
                <td>{{ order.washerName }}</td>
                <td>{{ order.washpackId }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.cars.name }}, {{order.cars.model}}</td>
                <td>
                  <button (click) = "deleteOrder(order.orderId)" color="warn" mat-raised-button>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>