<mat-action-list >
    <div mat-subheader><b>ADMIN</b></div>
    <button mat-list-item [routerLink]="['/admin']">
    <fa-icon [icon]="home" style="position:relative; right: 0.2cm;"></fa-icon>Home
    </button>
    <button mat-list-item [routerLink]="['/admin/allOrders']">
    <fa-icon [icon]="shoppingbag" style="position:relative; right: 0.2cm;"></fa-icon>Orders
    </button>
     <button mat-list-item [routerLink]="['/admin/addOrder']">
    <fa-icon [icon]="plus" style="position:relative; right: 0.2cm;"></fa-icon>Add Order
    </button>
    <button mat-list-item [routerLink]="['/admin/washers']">
    <fa-icon [icon]="washer" style="position:relative; right: 0.2cm;"></fa-icon>Washers
    </button>
    <button mat-list-item [routerLink]="['/admin/users']">
    <fa-icon [icon]="user" style="position:relative; right: 0.2cm;"></fa-icon>Users
    </button>
    <button mat-list-item [routerLink]="['/admin/wp']">
    <fa-icon [icon]="wp" style="position:relative; right: 0.2cm;"></fa-icon>Washpacks
    </button>
    <button mat-list-item [routerLink]="['/admin/addwp']">
    <fa-icon [icon]="plus" style="position:relative; right: 0.2cm;"></fa-icon>Add Washpack
    </button>
    <button mat-list-item [routerLink]="['/aboutus']">
    <fa-icon [icon]="info" style="position:relative; right: 0.2cm;"></fa-icon>About
    </button>
    <button mat-list-item [routerLink]="['/contact']">
    <fa-icon [icon]="phone" style="position:relative; right: 0.2cm;"></fa-icon>Contact
    </button>
</mat-action-list>

