<div class="container">
<p>
  <mat-form-field appearance="outline">
    <mat-label>WashPack ID</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Choose what's best for you</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Phone number</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Add your most recent number</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Car</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-hint>Be as specific as possible</mat-hint>
  </mat-form-field>
</p>
</div>