<div class="main-body" style="background-image: linear-gradient(125deg,#6a89cc,#b8e994);">
    <div class="container-fluid">
        <div class="container">
            <div class="heading">
                <p><b>CONTACT US</b></p>
            </div>
            <div class="row">
                <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><fa-icon [icon]="dot"></fa-icon>&nbsp; Make sure to check our website meanwhile!</p>
                <p><fa-icon [icon]="marker"></fa-icon>&nbsp; DELHI, IN</p>
                <p><fa-icon [icon]="mobile"></fa-icon>&nbsp; +91 2789267165</p>
                <p><fa-icon [icon]="envelope"></fa-icon>&nbsp; happycars@company.com</p>
                </div>
                <div class="col-sm-7 map">
                    <img src="../../../assets/images/map.jpg" alt="" width="650" height="430">
                </div>
          </div>
        </div>
    </div>
</div>