.heading{
    font-size: 60px;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}


#carouselExampleIndicators{
    width: 70%;
    height: 550px;
    margin: auto;
    margin-bottom:80px;
    color: black;
}

hr{
    width: 60%;
    margin-right: 0;
}

.column {
    float: left;
    width: 50%;
}

.card-footer{
    text-align: center;
    font-size: large;
}

#title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    text-align: center;
    font-size: 26px;
}

.headWasher{
    font-size: 60px;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.container-fluid{
    padding: 35px;
    text-align: center;
}

.container-fluid hr, #washer hr{
    width: 75%;
    margin:auto;
}

.col-sm{
    padding: 25px;
}

.col-sm fa-icon{
    font-size: 3em;
}