
<div class="main-body" style="background-image: linear-gradient(125deg,#6a89cc,#b8e994);">


    <div class="heading">
        <p>HOW IT <b>WORKS</b></p>
    </div>

    <div id="carouselExampleIndicators" class="carousel">
        <img src="../../../assets/images/process.png" alt="city1" width="100%" height="550">
    </div>

    <!-- Cities we are in (Image Gallery) -->
    <div class="gallery">
        <!-- Heading for Gallery -->
        <div class="heading">
            <p><b>FIND US</b> HERE</p>
        </div>
        <!-- Row 1 -->
        <div class="row" style="width: 85%; margin: auto;">
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/hyderabad.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span>HYDERABAD</span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/kolkata.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span>KOLKATA</span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/chennai.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span>CHENNAI</span></div>
                </div>
            </div>
        </div>
        <br>
        <!-- Row 2 -->
        <div class="row" style="width: 85%; margin: auto;">
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/delhi.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span>DELHI</span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/goa.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span>GOA</span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/mumbai.jpg" alt="city1" width="100%" height="330">
                    <div class="card-footer"><span>MUMBAI</span></div>
                </div>
            </div>

        <!-- Button for signup -->
        <div id="gallerybutton"> 
            <span>And many more... Find out by signing up now!</span> <br> <br>
            <button type="button" class="btn btn-primary btn-lg" routerLink ="/signup">SIGN UP</button>
        </div>
        
    </div>

    <!-- Washer Details -->
    <div id="washer">
        <!-- Heading -->
        <div class="headWasher">
            <p>BECOME A <b>WASHER</b><br>
                <span id="title"> Be your own boss</span></p>
            
        </div>
        <hr>
        <!-- Details -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm my-auto" >
                <!-- <b id="title"> Be your own boss</b> <br> <br> -->
                <span id="content">Operate your own business through us. <br> You decide where,
                    <br> when and how much you work. <br>
                    Be a part of the team.
                </span> 
              </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <fa-icon [icon] = "rupeeIcon" style="color: green;"></fa-icon>
                            <h2>Earn upto 10k per week</h2>
                            <span>Washer receives a car wash request approximately every 30 minutes. If you want to work, there will be work!</span>
                        </div>
                        <div class="col-sm">
                            <fa-icon [icon] = "clockIcon" style="color: rgb(126, 117, 117);"></fa-icon>
                            <h2>Choose your own hours</h2>
                            <span>We’ll only send you job requests when you’re “online.” Your schedule is your call.</span>
                        </div>   
                    </div>
                    <br> <br>
                    <div class="row">
                        <div class="col-sm">
                            <fa-icon [icon] = "walletIcon" style="color:brown;"></fa-icon>
                            <h2>Get paidfast</h2>
                            <span>All payments are automatically submitted through the app, and deposited into your bank account. (Tips too!)</span>
                        </div>
                        <div class="col-sm">
                            <fa-icon [icon] = "growthIcon" style="color: orange;"></fa-icon>
                            <h2>Grow your business</h2>
                            <span>Grow your business alongside us.</span>
                        </div>   
                    </div>
               </div>
               
            </div>
            <br>
            <hr>
            <br> <br>
            <div id="washerbutton"> 
                <span>Join the network now! Click on the below button to register.</span> <br> <br>
                <button type="button" class="btn btn-dark btn-lg" routerLink ="/register">REGISTER</button>
            </div>
        </div> 
        
    </div>
</div>
